@charset "UTF-8";

        #header{
            height: 80px;
        }

         #content{
            width:100%;         
            position: relative;
            background-color: #EEEEEE;
            padding-top: 10px;

        }
        #profileInfoWrap{
            width: 1060px;
            height: 200px;
            padding: 0 20px;
            /*background-color: red;*/
            box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
            position: relative;

        }
        #profileInfoWrap .box_user_info{
            height: 200px;
            width: 250px;
            /*background-color: blue;*/
            position: absolute;
            top: 0;
            
        }
        .box_user_info .user_info{
            width: 140px;
            height: 165px;
            /*background-color: green;*/
            text-align: center;
            margin: 17.5px 0;
            position: relative;
        }
        .user_info img{
            width:136px;
            height: 136px;
            border: 2px solid #2d230d;
            border-radius: 70px;
        }

        .box_user_info .user_info strong{
            font-size: 20px;
            font-weight: 900;
            vertical-align: middle;
            color: #2d230d;
        }


        #profileInfoWrap div.box_tier_info{
            width: 105px;
            height: 125px;
            /*background-color: pink;*/
            position: absolute;
            top:37.5px;
            left: 145px;

        }

        .box_tier_info p.ranking{
            width: 105px;
            /*background-color: yellow;*/
            font-size: 15px;
            position: absolute;
            bottom: 0;
            text-align: center;
        }



        div.box_tier_info::after{
            content: "";
            width: 105px;
            height: 105px;
            /*border-radius: 50px;*/
            background-image: url(../img/tier.png);
            background-size: 881px 105px;
            background-repeat: no-repeat;
            position: absolute;
            right:0px;
            top: 0px;
            background-color: rgba(16 ,16,  11,.7 );
            border-radius: 52.5px;
            font-size: 18px;
            color: #2d230d;
            text-shadow: 1px 1px 1px #d8ab53;

        }



        div.box_tier_info.tier_1::after{
            background-position: 9px 5px;
        }
        div.box_tier_info.tier_2::after{
            background-position: -90px 5px;
        }
        div.box_tier_info.tier_3::after{
            background-position: -185px 5px;
        }
        div.box_tier_info.tier_4::after{
            background-position: -280px 5px;
        }
        div.box_tier_info.tier_5::after{
            background-position: -370px 5px;
        }
        div.box_tier_info.tier_6::after{
            background-position: -465px 5px;
        }
        div.box_tier_info.tier_7::after{
            background-position: -558px 5px;
        }
        div.box_tier_info.tier_8::after{
            background-position: -663px 0px;
        }
        div.box_tier_info.tier_9::after{
            background-position: -775px 0px;
        }

        
        #profileInfoWrap .box_user_ability{
            width: 270px;
            height: 50px;
            position: absolute;
            left: 300px;
            top: 60px;
            /*background:yellow;*/
        }
        .box_user_ability .score_elo{
            width: 270px;
            height: 30px;
            /*background-color: blue;*/
            text-align: left;
            line-height: 30px;
            font-size: 25px;
            color: rgb(228,  188, 71 );
            font-weight: bold;
            text-shadow: 2px 2px 1px #2D230D;

        }


        div.box_winratio{
            width: 270px;
            height: 40px;
            /*background: red;*/
            position: relative;

        }
        div.box_winratio span{
            font-size: 15px;
            line-height: 40px;
            color: #4F3D17;
            font-weight: bold;
        }


        div.box_winratio span.winratio_txt{
            display: block;
            height: 20px;
            position: absolute;
            left: 190px;
            bottom: 10px;
            line-height: 20px;
            font-size: 20px;
            color: #4F3D17;
            font-weight: bold;

        }

        div.box_winratio .winratio_graph{
            display: inline-block;
            width: 150px;
            height: 20px;
            vertical-align: middle;
            position: absolute;
            bottom: 10px;
            left: 35px;
            text-align: center;
            
        }
        .winratio_graph_fill{
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            border-radius: 4px;
        }
        .winratio_graph_fill_left{
            background-color: #2196F3;
            border-top-right-radius: 0;
            border-bottom-right-radius:0;
            z-index: 1;

        }
        .winratio_graph_txt{
            position: absolute;
            top: 3px;
            height: 100%;
            line-height: 15px;
            font-size: 12px;
            color: #fff;
            font-weight: bold;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .winratio_graph_txt_left{
            left: 9px;
            text-align: left;
            z-index: 1;
        }

        .winratio_graph_fill_right{
            width: 100%;
            background-color: #F44336;

        }

        .winratio_graph_txt_right{
            right: 8px;
            text-align: right;
        }
        #gameInfoWrap{
            width: 1100px;
            min-height: 400px;
            background-color: #EEEEEE;
            box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
            /*background-color: yellow;*/
            /*padding-bottom: 10px;*/

        }

        #citiesScoreListBox{
            width: 100%;
            height: 140px;
            /*padding-top: 10px;*/
            background-color: #212121;
            box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
            /*margin: auto;*/
        }
        #gameInfoWrap h3{
            height: 20px;
            /*background-color: blue;*/
            line-height: 20px;
            font-size: 20px;
            padding: 10px 0;
            color: #fff;
            font-weight: 700;
            text-shadow: 2px 2px 2px #2D230D;
            text-align: center;
        }

       /* #citiesScoreListBox .score_best{
            width: 800;
            height: 42px;
            background-color: red;
            text-align: center;
            position: relative;
        }
        #citiesScoreBox .score_best::before{
            content: " ";
            display: inline-block;
            height: 62px;
            width: 40px;
            background-image: url(img/card_back.png);
            background-size: cover;
            background-repeat: no-repeat;

            }*/


            #citiesScoreListBox ul{
                width: 1000px;
                height: 100px;
                margin: auto;
                /*background-color: red;*/

            }
            #citiesScoreListBox li.score_city{
                width: 140px;
                height: 100px;
                margin:0 30px;
                float: left;
                /*background-color: #222;;*/
                position: relative;
                /*border-radius: 8px;*/
                word-break: break-all;
                overflow: hidden;
            }

            #citiesScoreListBox li.score_city div{
                height:  40px;
                width: 140px;
                line-height: 40px;
                text-align: center;
                position: absolute;
                bottom: 10px;
                border-radius: 20px;

            }

            #citiesScoreListBox li.score_city.red div{
                background-color: #D50000;
            }
            #citiesScoreListBox li.score_city.blue div{
                background-color: #304FFE;
            }
            #citiesScoreListBox li.score_city.green div{
                background-color: #64DD17;
            }
            #citiesScoreListBox li.score_city.yellow div{
                background-color: #FFD600;
            }
            #citiesScoreListBox li.score_city.white div{
                background-color: #EEEEEE;
            }

            #citiesScoreListBox li.score_city span{
                font-size: 20px;
                font-weight: 700;
                text-shadow: 1px 1px 1px #424242;
                color: #fff;

            }

            #citiesScoreListBox li.score_city::before{
                content: " ";
                display: block;
                width: 40px;
                height: 40px;
                /*border-radius: 22.5px;*/
                /*background-color: #fff;*/
                background-repeat: no-repeat;
                position: absolute;
                top: 5px;
                left: 50px;
                z-index: 1;

            }

            li.score_city.red::before{
                background-image: url(../img/symbol_red.png);
            }

            li.score_city.blue::before{
                background-image: url(../img/symbol_blue.png);
            }
            li.score_city.green::before{
                background-image: url(../img/symbol_green.png);
            }
            li.score_city.white::before{
                background-image: url(../img/symbol_white.png);
            }
            li.score_city.yellow::before{
                background-image: url(../img/symbol_yellow.png);
            }
            #citiesScoreListBox  li.score_city.red::before{
                background-position: 1px 0px;

                background-size: 38px 40px;
            }

            #citiesScoreListBox li.score_city.blue::before{
                background-position: 5px 0px;

                background-size: 30px 40px;
            }
            #citiesScoreListBox li.score_city.green::before{
                background-position: 0px 4px;

                background-size: 40px 31px;
            }
            #citiesScoreListBox li.score_city.white::before{
                background-position: 0px 1px;

                background-size: 40px 38px;
            }
            #citiesScoreListBox li.score_city.yellow::before{
                background-position: 0px 1.5px;

                background-size: 40px 37px;
            }


            #listTab{
                width: 1100px;
                height: 59px;
                /*background-color: red;*/
                padding-top: 30px;
                    border-bottom: 1px solid #BDBDBD;
            }
            #listTab ul{
                width: 1100px;
                height: 58px;
                /*background-color: yellow;*/

            }

            #listTab li label{
                height: 58px;
                width: 140px;
                float: left;
                background-color: #E0E0E0;
                font-size: 20px;
                border-width: 1px 1px 0 0px;
                border-style: solid;
                border-color: #BDBDBD;
                cursor: pointer;
                line-height: 60px;
                text-align: center;
            }
            #listTab input:checked+label {
                background-color: #F5F5F5;
                border-bottom: 2px solid #F5F5F5;
              
            }

            #listTab a{
                color: #424242;
                text-decoration: none;
            }

            #articleSection{
            width: 1100px;
            background-color: #F5F5F5;

           }

           #articleSection .article{
              width: 1000px;
                min-height: 260px;
                /*background-color: red;*/
                margin: auto;
                padding:15px 0px;
                display: none;
           }
           #articleSection .article.on{
            display: block;
           }


            #gameLogList {
                width: 1000px;
                min-height: 260px;
                /*padding-top: 17px;*/

            }

            .head_article{
                width: 100%;
                height: 60px;
                /* background-color: red; */
                line-height: 60px;
                position: relative;
                text-align: left;
            }
            .box_sort{
            height: 60px;
            width: 150px;
            line-height: 60px;
            position: absolute;
            text-align: right;
            right:0;
            top:0;
   			/*background:red; */
            }
            
             .box_sort .btn{
             
                font-size: 18px;
                padding: 6px 8px;
                border-radius: 3px;
                
                /* position: absolute;
                top:5px; */
        
             }
             /* .box_sort .btn_checked_all{
             	
             	right: 0;
             }
             .box_sort .btn_delete{
             	right: 90px;
             }
              */
             .head_article .total{
             	
             	font-size: 18px;
             	
             	color:#424242;
             	
   
             }
              .head_article strong{
              	font-weight: bold;
              }
            .head_article label {
        display: inline-block;
    font-size: 18px;
    margin-right: 10px;
    cursor: pointer;
}

.head_article input {
    display: none;
}

.head_article input:checked+label {
    color: #424242;
    height: 45px;
    /*background-color: red;*/
    /*font-weight: bold;*/
    border-bottom: 2px solid #424242;
    transition: .1s ease;
}


            #gameLogBox li.box_log{
                width: 1000px;
                height: 120px;
                margin-bottom: 17px;
                position: relative;           
            }

            .box_log.win {
                background-color: #90CAF9;
            }
            .box_log.lose{
                background-color: #EF9A9A;
            }

            .box_log.win:hover{
                background-color: rgba(100, 181, 246,.5);
            }
            .box_log.lose:hover{
                background-color: rgba(229, 115, 115,.5);
            }

            li.box_log .info_game{
                width: 110px;
                height: 90px;
                /*background:green;*/
                padding-top:15px;

            }
            .info_game ul{
                width: 110px;
                height: 90px;
                /*background-color: red;*/
            }

            .info_game li{
                width: 110px;
                /*background-color: blue;*/
                text-align: center;

                color: #757575;


            }

            .info_game .result_game{
                height: 40px;
                line-height: 40px;
                font-size: 20px;
                font-weight: 900;
                margin-bottom: 5px;
                /*background-color: yellow;*/
                
            }
            .box_log.win .result_game{
                color:#0288D1;
            }
            .box_log.lose .result_game{
                color:#D32F2F;
            }

            .info_game .time{
                font-size: 12px;
                height: 20px;
                line-height: 20px;
                /*background-color: yellow;*/

            }


            li.box_log .vs{
                width: 50px;
                height: 50px;
                
                line-height: 53px;
                font-size: 25px;
                text-align: center;
                font-weight: 900;
                color: #fff;
                border-radius: 25px;
                position: absolute;
                top: 35px;
                right: 440px;
                z-index: 1;

            }
            .box_log.win .vs {
                background-color: #1565C0;
            }
            .box_log.lose .vs {
                background-color: #C62828;
            }


            li.box_log .desc_result{
                width: 890px;
                height: 90px;
                /*background-color: pink;*/
                position: absolute;
                top: 15px;
                left: 110px;
            }
            .desc_result ul{
                width: 890px;
                height: 90px;
            }

            .desc_result li.result{
                width: 430px;
                height: 90px;
                float: left;
                margin-left: 15px; 
            }

            .user_thumb {
                width: 50px;
                height: 90px;
                position: absolute;
                text-align: center;
                line-height: 90px;
            }
            .user_thumb::after {
                content: "";
                width: 34px;
                height: 34px;
                border-radius: 18px;
                background-image: url(../img/tier.png);
                background-size: 319px 38px;
                background-repeat: no-repeat;
                position: absolute;
                left: 30px;
                bottom: 20px;
                border: 1px solid #424242;
                background-color: #222;
            }

            .user_thumb.tier_1::after {
                background-position: 2px 0px;
            }

            .user_thumb.tier_2::after {
                background-position: -34.2px 0px;
            }

            .user_thumb.tier_3::after {
                background-position: -69px 0px;
            }

            .user_thumb.tier_4::after {
                background-position: -103px 0px;
            }

            .user_thumb.tier_5::after {
                background-position: -136px 1px;
            }

            .user_thumb.tier_6::after {
                background-position: -170.5px 0px;
            }

            .user_thumb.tier_7::after {
                background-position: -204px 1px;
            }

            .user_thumb.tier_8::after {
                background-position: -242.1px -1px;
            }

            .user_thumb.tier_9::after {
                background-position: -282.8px -2px;
            }


           /* li.rival .user_thumb{
            left: 25px;

            }*/
            
            li.rival .user_thumb img{
                height: 34px;
                border-radius: 18px; 
                border: 1px solid #424242;


            }

            li.user .user_thumb img{
                height: 35px;
                width: 23px;
            }

            .box_cities_score{
                height: 90px;
                width: 300px;
                /*background-color: red;*/
                text-align: center;
                margin:auto;
            }

            .box_cities_score .total_score{
                height:23px;
                width: 300px;
                text-align: center;
                color: #F5F5F5;
                border-bottom: 2px solid rgb(45, 35, 13);;
            }
            .box_cities_score .total_score span{
                display: inline-block;
                height: 23px;
                width: 100px;
                background-color: rgb(45, 35, 13);;
                font-size: 23px;
                font-weight: 700;

                border-radius: 3px 3px 0 0;

            }
            .box_cities_score .list_score{
                width: 300px;
                height:65px;
            }
            #gameLogBox .list_score ul{
                width: 300px;
                height:60px;
                padding-top: 5px;

            }

            .list_score li.score_city{
                width: 50px;
                height: 60px;
                margin: 0 5px;
                float: left;
                text-align: center;
                color: #F5F5F5;
            }


            .list_score li.score_city::before{
                content: "";
                display: block;
                width: 40px;
                height: 40px;
                border-radius: 20px;
                background-color: #222;
                margin: auto;
                background-repeat: no-repeat;
            }

            .desc_result li.score_city.red::before{
                background-size: 28.2px 30px;
                /*background-size: 33px 35px;*/
                background-position: 5.9px 5px;
                /*background-position: 4px 2.5px;*/

            }
            .desc_result li.score_city.blue::before{
                /*background-size: 26px 35px;*/
                /*background-position: 6px 2.5px;*/
                background-size: 23px 30px;
                background-position: 8.5px 5px;
            }
            .desc_result li.score_city.green::before{
                background-size: 30px 23px; 
                background-position: 5px 8.5px;
                /*background-size: 35px 27px;*/
            }
            .desc_result li.score_city.white::before{
                background-size: 30px 28px;
                background-position: 5px 6px;
                /*background-size: 35px 33px;*/
            }
            .desc_result li.score_city.yellow::before{
                background-size: 30px 27px;
                background-position: 5px 6.5px;
                /*background-size: 35px 32px;*/
            }
            .desc_result span{
                display: inline-block;
                width: 50px;
                height: 25px;
                line-height: 25px;

            }

            .btn_profile_setting{
                width: 35px;
                height: 35px;
                /*background-color: red;*/
                font-size: 35px;
                cursor: pointer;
                position: absolute;
                right: 0;
                top: 0;
                color: #BDBDBD;
                text-shadow: 1px 1px 1px #424242;
            }

        

        #profileSettingSection{
            
            width: 300px;
            height: 350px;
            background-color: #fff;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: -175px;
            margin-left: -150px; 
        }
        #profileSettingSection h1{
            text-align: center;
            padding: 15px;
            /*background-color: yellow;*/
            font-size: 25px;
            font-weight: bold;

        }
         #profileSettingSection .btn_close{
            display: inline-block;
            border:none;
            margin: 0;
            padding: 0;

            position: absolute;
            right: 15px;
            top: 15px;
            background-color: #fff;
            color: #828282;
            cursor: pointer;
            
         }
         .btn_close i{
            font-size: 25px;
         }
     
   #profileBox {
        width:140px;
        height:140px;
        font-size: 142px;
        line-height: 140px;
        border: 1px solid #EEEEEE;
        text-align: center;
        position: relative;
        color: #ddd;
        border-radius: 71px;
        display: block;
        margin: auto;
        background-color: #fff;
    }

    #nicknameSettingBox{
        width: 250px;
        /*background-color: red;*/
        margin: auto;
        margin-top: 10px;
        text-align: center;
       
    }
    #nicknameSettingBox .inp_border{
        display: block;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        border-bottom: 2px solid #EEEEEE;
        transition: .2s ease;
    }

    #nicknameSettingBox input{
        padding: 10px;
        font-size: 17px;
        border:none;
        text-align: left;
        overflow: hidden;

       
    }
   
    #nicknameSettingBox input:focus{
         outline: none;
         
    }
    #nicknameSettingBox input:focus + .inp_border{

         border-bottom: 2px solid rgb(45, 35, 13);
    }

    #profileBox label:hover {
        background: rgb(45, 35, 13);
    }
    #profileSettingBtn{
        width: 300px;
        height: 100px;
        /*background-color: blue;*/
        text-align: center;
        line-height: 100px;
    }

    #profileSettingBtn .btn{
        padding: 12px 35px;
    }



    #profileBox label {
        width: 40px;
        height:40px;
        position: absolute;
        bottom:4px;
        right:4px;
        background: #9E9E9E;
        font-size:20px;
        line-height:40px;
        text-align: center;
        border-radius: 40px;
        cursor: pointer;
        color:#fff;
        border:2px solid #fff;
    }
    #profileBox label:hover {
        background: rgb(45, 35, 13);
    }


    #profile {
        display: none;
    }

    #profileImg {
        width:140px;
        height:140px;
        position: absolute;
        left:0;
        top:0;
        border-radius: 140px;
    }

  #profileBox.no_image #profileImg {
        display: none;
    }

    .delete {
        width:24px;
        height:24px;
        border-radius: 24px;
        text-align: center;
        line-height:24px;
        cursor: pointer;
        position: absolute;
        border: none;
        outline: none;
        right:8px;
        top:8px;
        background: #9E9E9E;
        display: block;
    }

    .delete:hover {
        background: rgb(45, 35, 13);
        color:#fff;
    }
      li.post, li.reply{
        width: 1000px;
        height: 66px;
        border-bottom: 1px solid #E0E0E0;
        /*background-color: yellow;*/
        position: relative;
        line-height: 66px;
        color: #757575;

      }
      li.post:hover{
        background-color: #E0E0E0;
      }
      li.reply:hover{
        background-color: #E0E0E0;
      }

      li.reply .contents:hover{
        text-decoration: underline;
      }

       li.post .cate{
            width: 100px;
            height: 66px;
            /*background-color: yellow;*/
            position: absolute;
            left: 20px;
            top: 0;
            text-align: center;
       }
    li.post .box_title{
            width: 600px;
            height: 66px;
            /*background-color: red;*/
            
            position: absolute;
            left: 120px;
            top: 0; 
        }
        .title, .contents{
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        li.post .title{
            width: 500px;
            padding: 0 5px;
            font-size: 17px;
            color: #616161;

        }

        li.post .title:hover{
            text-decoration: underline;
        }

        li.post .comment{
            /*background-color: blue;*/
            width: 90px;

            position: absolute;
            right: 0;
            top: 0;
            color: #2D220E;
        }
         .comment::before{
            content: "[";
         }

          .comment::after{
            content: "]";
         }
        li.post .user_info{
            width: 200px;
            height: 66px;
            /*background-color: pink;*/
            position: absolute;
            left: 700px;
            top: 0;
            font-size: 14px;

        }


        li.post .user_info img{
            border-radius: 25px;
            vertical-align: middle;
        }
        li.post .user_info strong{
            vertical-align: middle;
        }
        li.post .user_info:hover strong{
            text-decoration: underline;
            
        }

        li.post .btn_like{
            width: 90px;
            height: 66px;
            position: absolute;
            left: 720px;
            top: 0;
            font-size: 14px;
            line-height: 66px;
            /*background-color: blue;*/
            text-align: center;
            color: #757575;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        li.post .hit{
            display: inline-block;
            
            width: 90px;
            height: 66px;
            position: absolute;
            left: 810px;
            top: 0;
            font-size: 14px;
            /*background-color: red;*/
            text-align: center;
            line-height: 66px;
            color: #757575;
             overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        li.post time{
            width: 100px;
            height: 66px;
            position: absolute;
            right: 0;
            top: 0;
            font-size: 14px;
            text-align: center;
            /*background-color: yellow;*/
            color: #757575;
        }

        li.reply a{
            text-decoration: none;
        }

        li.reply .box_contents{
            width: 470px;
            height: 66px;
            padding: 0 10px;
           /*background-color: yellow;*/
            position: absolute;
            left: 20px;
            top: 0;
            font-size: 17px;
            color: #616161;

        }
        li.reply .box_title{
            width: 300px;
            height: 66px;
            /*background-color: red;*/
            position: absolute;
            left: 510px;
            top: 0;
            font-size: 14px;

        }   

        li.reply .box_title::before{
            content: "원문제목:";
            display: inline-block;
            padding-left: 6px;
            color: #757575;


        }

        li.reply .title{
        width: 220px;
        height: 66px;
        padding: 0 5px;
        display: inline-block;
        vertical-align: middle;
        color: #757575;
      
        }

        li.reply .btn_like{
            display: inline-block;
            width: 90px;
            height: 66px;
            /*background-color: red;*/
            position: absolute;
            left: 810px;
            top: 0;
            text-align: center;
            font-size: 14px;
            color: #757575;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;

        }
        li.reply time{
             width: 100px;
        position: absolute;
            right: 0px;
            top: 0;
            /*background-color: yellow;*/
            text-align: center;
             font-size: 14px;
             color: #757575;
             
        }

